<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">
			
		  <p>&copy 2019 UOA AI Lab.</p>
              <p>We are part of the <a href="https://cs.auckland.ac.nz/">School of Computer Science</a> at <a href="https://www.auckland.ac.nz/">The University of Auckland</a>.</p>
            

		   <p>  </p><p>
            		  
            
		</div>
		
		<div class="col-sm-4">
		  Contact:<br />
		  School of Computer Science<br />
		  The University of Auckland<br />
		  38 Princes Street<br />
		  Auckland<br />
		  New Zealand <br />
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
